.profileContainer {
  margin: 50px 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profileHeader {
  display: flex;
  align-items: flex-start;
  gap: 100px;
  min-height: 400px;
  flex-wrap: wrap;
}

.profileInfo {
  padding-top: 5%;
  flex: 1;
}

.playerDetails,
.feedbacks,
.highlights {
  margin-top: 20px;
}

.profileHeader,
.playerDetails,
.feedbacks,
.highlights {
  border: 1px solid #ED154C;
  box-shadow: 0 0 10px #ED154C;
  padding: 20px;
  background-color: #242034;
}

.feedback,
.highlight {
  background: #f9f9f9;
  padding: 10px;
  margin: 10px 0;
}

.editContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.addFriendButton {
  background: #242034;
  color: #ED154C;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid #ED154C;
}

.profileImage {
  max-width: 100%;
  margin-left: 100px;
  border-radius: 50%;
}

.roundAvatar {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ED154C;
  font-size: 150px;
  color: #fff;
}

.username {
  color: #ED154C;
}

.usernameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}

.editButton {
  background-color: #ed154c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.editButton:hover {
  background-color: #ff4060;
}

.pillsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pill {
  background-color: #242034;
  color: white;
  padding: 4px 10px;
  border-radius: 7px;
  font-size: 12px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #ED154C;
  font-weight: 400;
}

.starsValueContainer {
  padding: 20px;
  align-items: center;
  /* Align items vertically in the center */
  margin-right: 20px;
  /* Add some space between starsValue and starSelectContainer */
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.starsValue {
  align-items: center;
  position: relative;
}

.starSelectContainer {
  align-items: center;
  width: 80%;
  display: flex;
}

.starSelect {
  border: 1px solid #ED154C;
  margin-right: 10px;
  /* Add some space between starSelect items */
  height: 50%;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: transparent;
}

.starSelected {
  background-color: #ed154c;
}

.starSelect:hover {
  background-color: #ed154c;
  /* Change background color on hover */
}

.starSelectContainer>.starSelect:last-child {
  margin-right: 0;
  /* Remove the margin-right for the last item */
}



.feedbackContainer {
  background-color: transparent;
  padding: 20px;
  color: #ffffff;
  border-bottom: 1px solid #ED154C;
}

.feedbackHeader {
  display: flex;
  align-items: center;
}

.feedbackAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.feedbackUserInfo {
  flex-grow: 1;
}

.feedbackUsername {
  font-weight: bold;
  display: block;
}

.feedbackDate {
  font-size: 0.8em;
  color: #a1a1a1;
}

.rating {
  display: flex;
}

.star {
  margin-right: 5px;
}

.feedbackText {
  margin: 10px 0;
  line-height: 1.5;
}

.feedbackActions {
  display: flex;
  align-items: center;
}

.usefulButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: #aaa;
  font-size: 1em;
  cursor: pointer;
}

.usefulButton .icon {
  margin-left: 5px;
  margin-right: 5px;
  fill: #aaa;
}

.usefulButton:hover {
  color: #ED154C;
}

.usefulButton:hover .icon {
  fill: #ED154C;
}

.unUsefulButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: #ED154C;
  font-size: 1em;
  cursor: pointer;
}

.unUsefulButton .icon {
  margin-left: 5px;
  margin-right: 5px;
  fill: #ED154C;
}

.unUsefulButton:hover {
  color: #aaa;
}

.unUsefulButton:hover .icon {
  fill: #aaa;
}



.reviewInput {
  flex-grow: 1;
  width: 90%;
  padding: 1%;
  border-radius: 20px;
  border: 1px solid #ED154C;
  background-color: transparent;
  color: #fff;
}

.reviewInput::placeholder {
  color: #ED154C;
}

.sendButton {
  margin-left: 1%;
  width: 5%;
  max-width: 50px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sendButton svg {
  fill: #ED154C;
  width: 100%;
  height: auto;
}

.sendButton:hover svg {
  fill: #b3133b;
}

.star-rating .rating-svg {
  width: 24px;
  height: 24px;
  fill: #d3d3d3;
  /* Default color */
}

.star-rating .rating-svg.rating-fill {
  fill: gold;
  /* Color of selected stars */
}

/* Change color on hover */
.star-rating .rating-svg:hover,
.star-rating .rating-svg:hover~.rating-svg {
  fill: orange;
  /* Color of stars on hover */
}

.dropbtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  background-color: #242034;
  color: white;
  padding: 10px;
  border: 1px solid #ED154C;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
}

.dropbtn:hover {
  background-color: #1e1b29;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #242034;
  /* Background color */
  border: 1px solid #ED154C;
  /* Border color */
  border-radius: 8px;
  /* Rounded corners */
  min-width: 200px;
  z-index: 1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent p {
  color: white;
  /* Text color */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdownContent p:hover {
  background-color: #ED154C;
  /* Hover background color */
}

.dropdownFBItem {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdownFBItem:hover {
  background-color: #ed154c;
}


@media screen and (max-width: 1350px) {
  .profileContainer {
    margin: 50px 20px;
  }

  .profileImage {
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .profileContainer {
    margin: 20px;
  }

  .profileHeader {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    width: 100%;
  }

  .profileImage {
    width: 250px;
    height: 250px;
    margin: 0;
  }

  .roundAvatar {
    width: 250px;
    height: 250px;
    font-size: 100px;
  }

  .profileInfo {
    padding-top: 20px;
    text-align: center;
    width: 100%;
  }


  .friendContainer,
  .bioContainer,
  .editContainer {
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .username {
    font-size: 45px;
  }

  .pillsContainer {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}


@media screen and (max-width: 600px) {
  .addFriendButton {
    padding: 8px 16px;
  }

  .pill {
    font-size: 16px;
    padding: 2px 8px;
  }
}