.editProfile {
    background-color: #242034;
    border-radius: 10px;
    margin: 50px auto;
    border: 1px solid #ED154C;
    box-shadow: 0 0 10px #ED154C;
    padding: 20px;
    max-width: 1000px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar .tabButton {
    display: block;
    background-color: #242034;
    border: none;
    padding: 10px 10px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.sidebar .activeTab {
    background-color: #ed154c;
}

.title {
    text-align: center;
    font-size: 30px;
    color: #ED154C;
    margin-bottom: 20px;
}

.form {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
}

.titleContainer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin-bottom: 30px;
}

.backButton {
    text-decoration: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.formGroup {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.formGroup label {
    font-size: 16px;
    color: #ed154c;
    flex: 1;
    text-align: right;
}

.formGroup input,
.formGroup textarea,
.formGroup select,
.sliderContainer {
    padding: 10px;
    border: 1px solid #ED154C;
    border-radius: 5px;
    background-color: #2a2a4a;
    color: #fff;
    flex: 3;
}

.formGroup input[type="file"] {
    padding: 10px;
    border: none;
    background-color: #2a2a4a;
    color: #fff;
}

.formGroup .checkboxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 3;
    padding: 10px;
    border: 1px solid #ED154C;
    border-radius: 5px;
    background-color: #2a2a4a;
}

.formGroup .checkboxContainer label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: 1px solid #ED154C;
    border-radius: 5px;
    background-color: #2a2a4a;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
    margin-bottom: 5px;
}

.formGroup .checkboxContainer label.selected {
    background-color: #ed154c;
    color: #fff;
}

.formGroup .checkboxContainer input[type="checkbox"] {
    display: none;
}

.avatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.imageSizeInfo {
    font-size: 12px;
    color: #666;
    margin-top: 4px;
    font-style: italic;
}

.avatar {
    border-radius: 50%;
}

.submitButton {
    background-color: #ED154C;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    align-self: center;
}

.submitButton:hover {
    background-color: #c01241;
}

.table-history td,
.table-history th {
    background-color: transparent !important;
    color: white !important
}

@media (max-width: 768px) {
    .editProfile {}

    .container {
        flex-direction: column;
    }

    .sidebar {
        flex-direction: row;
        margin-bottom: 20px;
        margin-right: 0;
        justify-content: center;
    }

    .sidebar .tabButton {
        margin-right: 10px;
        margin-bottom: 0;
    }

    .form {
        align-items: center;
    }

    .formGroup {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .formGroup label {
        text-align: left;
    }

    .formGroup input,
    .formGroup textarea,
    .formGroup select,
    .formGroup .checkboxContainer,
    .formGroup .sliderContainer {
        flex: 1;
        width: 100%;
    }

}